.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.iniciarSesion {
  background-color: blue;
  width: 50%;
  max-width: 500px;
  height: 30%;
  border-collapse: collapse;
  border-radius: 25px 25px 0px 0px;
}

.title {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: chartreuse;
  border-radius: 0px 0px 25px 25px;

}

.input-group {
  padding: 3%;
  margin-top: 50px;
  font-size: 20px;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}



.sign {
  margin-top: 20px;
  display: flex;

  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}



  button{
    cursor: pointer;
  }